<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.empty_can">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />




    <!-- android test 돌릴 때 화면 lock 풀어야 로그인 touch 가능 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Empty_can"

        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="4007c2646272cd2d41f9fb1099abeda5"/>



        <activity android:name=".MainActivity"></activity>
        <activity android:name=".JoinActivity"></activity>
        <activity android:name=".WritingActivity"></activity>
        <activity android:name=".GameSetActivity"></activity>
        <activity android:name=".MymodifyActivity"></activity>
        <activity android:name=".EatenweekActivity"></activity>
        <activity android:name=".FoodmodifyActivity"></activity>
        <activity android:name=".RouletteActivity"></activity>
        <activity android:name=".WorldcupActivity"></activity>

        <activity android:name=".ladderActivity"></activity>
        <activity android:name=".drawinglotsActivity"></activity>
        <activity android:name=".MapActivity"></activity>
        <activity android:name=".RandomActivity" />
        <activity android:name=".ShowReviewActivity"></activity>

        <!-- http 라이브러리 사용 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data
                    android:host="oauth"
                    android:scheme="kakao4007c2646272cd2d41f9fb1099abeda5" />
            </intent-filter>
        </activity>
    </application>

    

</manifest>